{% extends 'layout.html' %} {% block content %}
<h2>Step 1. Specify a source page address (URL)</h2>

<p>
  This step retrieves the HTML source from a given link (URL) and is required
  for step 2.
</p>

<p>
  Use the <span class="inline-code">Get HTML</span> button to manually create a
  feed following the listed steps below or try the
  <span class="inline-code">I'm Feeling Lucky</span> button, which uses an LLM
  to attempt to create a feed. Results may vary.
</p>

<h2>Step 2. Define extraction rules</h2>

<p>
  This step defines the pattern to extract from the HTML retrieved in step 1.
</p>

<p>
  A general understanding of
  <a
    href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started#anatomy_of_an_html_element"
    >HTML elements</a
  >
  and the
  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a"
    ><span class="inline-code">&lt;a&gt;</span> &#40;anchor element&#41;</a
  >
  is recommended.
</p>

<h3>Global Search Pattern</h3>

<p>
  The goal of the global search pattern is to define which part of the HTML
  document you want to parse.
</p>

<p>
  The default value of
  <span class="inline-code">*</span>
  selects the entire HTML source.
</p>

<p>
  Providing an HTML element such as
  <span class="inline-code">&lt;ul&gt;</span> would only select the first
  <span class="inline-code">&lt;ul&gt;</span> element in the HTML.
</p>

<p>
  <strong>Tip:</strong> You don't have to actually wrap the HTML element in its
  <span class="inline-code">&lt;&gt;</span> tag. For example, entering either
  <span class="inline-code">&lt;ul&gt;</span> or
  <span class="inline-code">ul</span> would work identically.
</p>

<h3>Item Search Pattern</h3>

<p>
  The goal of the item search pattern is to retrieve the <em>title</em>,
  <em>link</em> &#40;URL&#41;, and <em>content</em>.
</p>

<p>
  The pattern should consist of the following 4 elements/attributes, each placed
  on a newline:
</p>

<ol>
  <li>
    the repeated <span class="inline-code">&lt;&gt;</span> elements to target
    (e.g. <span class="inline-code">&lt;li&gt;</span>)
  </li>
  <li>
    the element that contains the title for the item (e.g.
    <span class="inline-code">&lt;a&gt;</span>)
  </li>
  <li>
    the attribute or element that contains the link for the item (e.g.
    <span class="inline-code">href</span>, which is found within
    <span class="inline-code">&lt;a&gt;</span>)
  </li>
  <li>
    the element that contains the content for the item (e.g.
    <span class="inline-code">&lt;p&gt;</span>)
  </li>
</ol>

<p>
  <strong>Tip:</strong> You don't have to actually wrap the HTML elements in
  their <span class="inline-code">&lt;&gt;</span> tags. For example, entering
  either <span class="inline-code">&lt;a&gt;</span> or
  <span class="inline-code">a</span> would work identically.
</p>

<h3>Example</h3>

<p>Suppose a blog has multiple posts in the following format:</p>

<pre><code
>&lt;article&gt;
  &lt;a title="Post 1" href="https://www.example.com/blog/Post_1"&gt;
    Post 1
  &lt;/a&gt;
  &lt;p&gt;
    Content of the blog post.
  &lt;/p&gt;
&lt;/article&gt;
</code></pre>

<p>The Global Search Pattern to select the entire HTML document could be:</p>

<pre><code
>*
</code></pre>

<p>The Item Search Pattern could be:</p>

<pre><code
>&lt;article&gt;
&lt;a&gt;
href
&lt;p&gt;
</code></pre>

<details>
  <summary>Alternate format</summary>
  <p>
    You can simplify the pattern by removing the
    <span class="inline-code">&lt;&gt;</span> tags like so:
  </p>

  <pre><code
>article
a
href
p
</code></pre>
</details>

<p>
  This pattern would look for HTML elements in the
  <span class="inline-code">&lt;article&gt;</span> element and assign the title
  to <span class="inline-code">&#123;1&#125;</span>, the link to
  <span class="inline-code">&#123;2&#125;</span>, and the content to
  <span class="inline-code">&#123;3&#125;</span>. The assigned items are
  numbered in the order they are matched in the pattern, and the numbering is
  used for step 3.
</p>

<p>
  Every website implements its HTML a bit differently, so getting the Item
  Search Pattern correct is crucial!
</p>

<h2>Step 3. Define output format</h2>

<h3>RSS feed properties</h3>

<p>
  <strong>Feed Title:</strong> The title that will display in an RSS reader.
</p>

<p>
  <strong>Feed Link:</strong> Provide the link (URL) to the website the feed is
  being created for.
</p>

<p>
  <strong>Feed Description:</strong> The description that will display in an RSS
  reader.
</p>

<h3>RSS item properties</h3>

<p>
  <strong>Item Title Position:</strong> Provide the corresponding value within
  the <span class="inline-code">&#123;&#125;</span> tags from the generated feed
  preview in step 2 (e.g. <span class="inline-code">1</span>) to assign as the
  Title for each item in the pattern.
</p>

<p>
  <strong>Item Link Position:</strong> Provide the corresponding value within
  the <span class="inline-code">&#123;&#125;</span> tags from the generated feed
  preview in step 2 (e.g. <span class="inline-code">2</span>) to assign as the
  Link (URL) for each item in the pattern.
</p>

<p>
  <strong>Item Content Position:</strong> Provide the corresponding value within
  the <span class="inline-code">&#123;&#125;</span> tags from the generated feed
  preview in step 2 (e.g. <span class="inline-code">3</span>) to assign as the
  Content for each item in the pattern.
</p>

<h2>Step 4. Get your feed</h2>

<p><strong>Feed URL:</strong> Use this URL to subscribe to the feed.</p>

<p>
  <strong>Edit URL:</strong> Use this URL to edit or delete the feed.
  <br /><br />
  <strong>Note:</strong> The Edit URL follows a pattern:
  <span class="inline-code">/feeds/&lt;feed_id&gt;</span> where
  <span class="inline-code">&lt;feed_id&gt;</span> is replaced by the ID of the
  feed to edit.
  <br />
  If you ever want to edit or delete your feed in the future, extract the
  <span class="inline-code">&lt;feed_id&gt;</span> from the feed URL (everything
  preceding the <span class="inline-code">.xml</span> file extension at the
  end).
</p>
{% endblock %}
