{% extends 'get_html.html' %} {% block content %} {{ super() }}
<details open>
  <summary>Feed preview:</summary>
  <div id="html-extraction" class="scrollable">
    {% for key, values in extracted_html.items() %} Item {{ key }}<br />
    &#123;%1&#125; = {{ values[0] }}<br />
    &#123;%2&#125; = {{ values[1] }}<br />
    &#123;%3&#125; = {{ values[2] }}<br />
    {% if not loop.last %}<br />{% endif %}{% endfor %}
  </div>
</details>

<div id="step-3">
  <h2>Step 3. Define output format</h2>

  <h3>RSS feed properties</h3>

  <form
    id="output-format"
    action="/format_feed_output"
    method="post"
    autocomplete="off"
  >
    <label for="feed-title">Feed Title:</label>
    <input type="text" id="feed-title" name="feed-title" required />

    <label for="feed-link">Feed Link:</label>
    <input type="url" id="feed-link" name="feed-link" required />

    <label for="feed-description">Feed Description:</label>
    <input type="text" id="feed-description" name="feed-description" required />

    <h3>RSS item properties</h3>

    <label for="item-title-template">Item Title Template:</label>
    <input
      type="text"
      id="item-title-template"
      name="item-title-template"
      required
    />

    <label for="item-link-template">Item Link Template:</label>
    <input
      type="text"
      id="item-link-template"
      name="item-link-template"
      required
    />

    <label for="item-content-template">Item Content Template:</label>
    <input
      type="text"
      id="item-content-template"
      name="item-content-template"
      required
    /><br />

    <input type="hidden" name="url" value="{{ url }}" required />

    <input
      type="hidden"
      name="html-source"
      value="{{ html_source }}"
      required
    />

    <input
      type="hidden"
      name="extracted-html"
      value="{{ extracted_html }}"
      required
    />
    <button type="submit">Preview</button>
  </form>
  <br />
</div>
{% endblock %}
