<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site to Feed</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script>
      function setUrlInSourceCodeElement() {
        let url = document.getElementById("url");
        let htmlSourceLink = document.getElementById("html-source-link");

        if (url && htmlSourceLink) {
          let urlValue = new URL(url.value);
          htmlSourceLink.href = urlValue.href;
          htmlSourceLink.textContent = urlValue.href;
        }
      }
    </script>
  </head>
  <body hx-boost="true">
    <main>
      <header>
        <h1>Site to Feed</h1>
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/documentation">documentation</a></li>
          </ul>
        </nav>
      </header>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
