<p>Update the feed values below. All fields are optional.</p>

<form
  id="edit-feed"
  class="edit-feed-buttons"
  action="{{ url_for('edit_feed', feed_id=feed_id) }}"
  method="post"
  autocomplete="off"
  hx-post="{{ url_for('edit_feed', feed_id=feed_id) }}"
  hx-trigger="submit"
  hx-target="body"
  hx-swap="outerHTML"
>
  <h3>Feed properties</h3>

  <label for="feed-title">Feed Title:</label>
  <input
    type="text"
    id="feed-title"
    name="feed-title"
    value="{{ feed.title }}"
  />

  <label for="feed-link">Feed Link:</label>
  <input type="url" id="feed-link" name="feed-link" value="{{ feed.link }}" />

  <label for="feed-description">Feed Description:</label>
  <input
    type="text"
    id="feed-description"
    name="feed-description"
    value="{{ feed.subtitle }}"
  />

  <label>
    <button type="submit">Update</button>
  </label>
</form>
