<form
  id="extraction-rules"
  action="/extract_html"
  method="post"
  autocomplete="off"
  hx-post="/extract_html"
  hx-target="#step-3"
  hx-swap="innerHTML"
  hx-trigger="submit"
>
  <label for="global-search-pattern">Global Search Pattern:</label>
  <details>
    <summary>Instructions</summary>
    <p>
      Define which part of the HTML source to apply the extraction pattern to.
      <br />
      If a page has multiple html elements, and you only want to select the
      first one, enter that here. For example, entering
      <span class="inline-code">&lt;ul&gt;</span> would only select the first
      <span class="inline-code">&lt;ul&gt;</span> element (and its nested
      elements) on the page. <br /><br />
      <strong>Tip:</strong> Use the default value of
      <span class="inline-code">*</span>
      to select the entire HTML source.
    </p>
  </details>

  <input
    type="text"
    id="global-search-pattern"
    name="global-search-pattern"
    value="*"
    required
  />

  <br /><br />

  <label for="item-search-pattern">Item Search Pattern:</label><br />
  <details>
    <summary>Instructions</summary>
    <p>
      Define the repeated HTML pattern that matches the individual items in the
      feed you want to include. This pattern is applied to the HTML filtered by
      the Global Search Pattern above.
    </p>

    <p />

    <p>
      The pattern should consist of the following 4 elements/attributes, each
      placed on a newline:
    </p>

    <ol>
      <li>
        the repeated <span class="inline-code">&lt;&gt;</span> elements to
        target (e.g. <span class="inline-code">&lt;li&gt;</span>)
      </li>
      <li>
        the element that contains the title for the item (e.g.
        <span class="inline-code">&lt;a&gt;</span>)
      </li>
      <li>
        the attribute or element that contains the link for the item (e.g.
        <span class="inline-code">href</span>, which is found within
        <span class="inline-code">&lt;a&gt;</span>)
      </li>
      <li>
        the element that contains the content for the item (e.g.
        <span class="inline-code">&lt;p&gt;</span>)
      </li>
    </ol>

    <p>
      <strong>Tip:</strong> You don't have to actually wrap the HTML elements in
      their <span class="inline-code">&lt;&gt;</span> tags. For example,
      entering either <span class="inline-code">&lt;a&gt;</span> or
      <span class="inline-code">a</span> would work identically.
    </p>
  </details>

  <textarea
    id="item-search-pattern"
    name="item-search-pattern"
    rows="4"
    required
  ></textarea>

  <input
    type="hidden"
    name="url"
    value="{{ request.args.get('url') or url }}"
    required
  />

  <input type="hidden" name="html-source" value="{{ html_source }}" required />
  <button type="submit">Extract HTML</button>
</form>
