<h3>Feed properties</h3>

<details>
  <summary>Instructions</summary>
  <p>
    These values will show up in your feed reader. Assign these values as
    whatever you want.
  </p>
</details>

<form
  id="output-format"
  action="/format_feed_output"
  method="post"
  autocomplete="off"
  hx-post="/format_feed_output"
  hx-target="#step-4"
  hx-swap="innerHTML"
  hx-trigger="submit"
>
  <label for="feed-title">Feed Title:</label>
  <input type="text" id="feed-title" name="feed-title" required />

  <label for="feed-link">Feed Link:</label>
  <input
    type="url"
    id="feed-link"
    name="feed-link"
    value="{{ request.args.get('url') or url }}"
    required
  />

  <label for="feed-description">Feed Description:</label>
  <input type="text" id="feed-description" name="feed-description" required />

  <h3>Item properties</h3>

  <details>
    <summary>Instructions</summary>
    <p>
      Define which position the <em>title</em>, <em>link</em> &#40;URL&#41;, and
      <em>content</em> should be in for each item from the feed preview above.
      <br /><br />
      <strong>Example:</strong> If
      <span class="inline-code">&#123;1&#125;</span> = the item title, then set
      the value for Item Title Position to <span class="inline-code">1</span>.
    </p>
  </details>

  <label for="item-title-position">Item Title Position:</label>
  <input
    type="number"
    id="item-title-position"
    name="item-title-position"
    required
  />

  <label for="item-link-position">Item Link Position:</label>
  <input
    type="number"
    id="item-link-position"
    name="item-link-position"
    required
  />

  <label for="item-content-position">Item Content Position:</label>
  <input
    type="number"
    id="item-content-position"
    name="item-content-position"
    required
  />
  <br />

  <h3>Atom or RSS feed?</h3>

  <details>
    <summary>Instructions</summary>
    <p>
      Most RSS readers support both types. Leave as default value if unsure.
    </p>
  </details>

  <label for="atom">
    <input type="radio" id="atom" name="feed-type" value="atom" checked />
    Atom
  </label>
  <label for="rss">
    <input type="radio" id="rss" name="feed-type" value="rss" />
    RSS
  </label>
  <br />

  <input
    type="hidden"
    name="url"
    value="{{ request.args.get('url') or url }}"
    required
  />

  <input type="hidden" name="html-source" value="{{ html_source }}" required />

  <input
    type="hidden"
    name="extracted-html"
    value="{{ extracted_html }}"
    required
  />

  <input
    type="hidden"
    name="extracted-html"
    value="{{ extracted_html }}"
    required
  />

  <input
    type="hidden"
    name="global-search-pattern"
    value="{{ global_search_pattern }}"
    required
  />

  <input
    type="hidden"
    name="item-search-pattern"
    value="{{ item_search_pattern }}"
    required
  />

  <input type="hidden" name="feed-id" value="{{ feed_id }}" required />
  <br />
  <button type="submit">Generate feed</button>
</form>
