<form
  id="get-html"
  action="/get_html_source"
  method="get"
  autocomplete="off"
  hx-get="/get_html_source"
  hx-target="#step-2"
  hx-swap="innerHTML"
  hx-trigger="submit"
  hx-vals="url: #url"
  hx-args="url={{url}}"
  hx-on::after-request="if(event.detail.successful) setUrlInSourceCodeElement(); this.reset();"
>
  <label for="url">Enter URL:</label><br />
  <input
    type="url"
    id="url"
    name="url"
    value="{{ request.args.get('url') or '' }}"
    required
    autocomplete="off"
  /><br />
  <button type="submit">Get HTML</button>
</form>
